Ftims.Pai.Client/Service References/Services.Timesheet/TimesheetService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ftims.Pai.Service.TimesheetService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ftims.Pai.Service.TimesheetService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Timesheet">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Timesheet" nillable="true" type="tns:Timesheet" />
  <xs:complexType name="ArrayOfTimesheet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Timesheet" nillable="true" type="tns:Timesheet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimesheet" nillable="true" type="tns:ArrayOfTimesheet" />
  <xs:complexType name="CreateTimesheet">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CreateTimesheet" nillable="true" type="tns:CreateTimesheet" />
</xs:schema>